<div class="max-w-xl mx-auto mt-8">
  <div *ngIf="isLogged" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <h2 class="text-lg font-semibold mb-4">Tareas del usuario</h2>
    <div *ngFor="let task of tasks" class="border-b border-gray-200 py-4 flex justify-between items-center">
      <div>
        <h3 class="text-xl font-semibold">{{task.titulo}}</h3>
        <p class="text-gray-500 text-xs">{{task.fecha_creacion}}</p>
      </div>
      <div class="flex space-x-4">
        <input type="checkbox" class="form-checkbox h-5 w-5 text-green-500" [(ngModel)]="task.finalizada" disabled>
        <span class="text-gray-700">Completada</span>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="seeTask(task.id)">Detalles</button>
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" (click)="deleteTask(task.id)">Eliminar</button>
        <button class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded" (click)="finishTask(task.id)">Cambiar estado</button>
      </div>
    </div>
    <div class="mt-4">
      <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" routerLink="add_task">Agregar Tarea</button>
    </div>
  </div>
  <div *ngIf="!isLogged" class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4" role="alert">
    <p class="font-bold">Advertencia</p>
    <p>Debe iniciar sesión para agregar y ver tareas.</p>
  </div>
</div>