<body class="bg-gray-100 h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded shadow-md w-96">
      <h2 class="text-2xl font-semibold mb-4">Registro</h2>
      <form (ngSubmit)="register()">
        <div class="grid grid-cols-2 gap-4">
          <div>
            <label for="firstName" class="block text-gray-700 font-semibold mb-2">Nombres</label>
            <input type="text" id="firstName" name="firstName" class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500" placeholder="Ingrese sus nombres" required [(ngModel)]="nombres">
          </div>
          <div>
            <label for="lastName" class="block text-gray-700 font-semibold mb-2">Apellidos</label>
            <input type="text" id="lastName" name="lastName" class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500" placeholder="Ingrese sus apellidos" required [(ngModel)]="apellidos">
          </div>
        </div>
        <div class="mt-4">
          <label for="username" class="block text-gray-700 font-semibold mb-2">Nombre de usuario</label>
          <input type="text" id="username" name="username" class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500" placeholder="Ingrese su nombre de usuario" required [(ngModel)]="username">
        </div>
        <div class="mt-4">
          <label for="password" class="block text-gray-700 font-semibold mb-2">Contraseña</label>
          <input type="password" id="password" name="password" class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500" placeholder="Ingrese su contraseña" required [(ngModel)]="password">
        </div>
        <button type="submit" class="mt-4 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:ring focus:ring-blue-200">Registrarse</button>
      </form>
    </div>
  </body>
